@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

       <h1>Quiénes somos?</h1>
          <p>Somos VCL remates una plataforma innovadora y confiable dedicada a conectar compradores y vendedores a través de 
        subastas en línea. Nuestra misión es brindar un espacio dinámico donde tanto el vendedor como el comprador 
        puedan interactuar de manera segura transparente y eficiente. Desde artículos exclusivos y productos de colección
        hasta las últimas tendencias, nos especializamos en ofrecer una experiencia de subasta única adaptada a las 
        necesidades de nuestros usuarios.
          </p>
      <h1>Nuestra misión</h1>
          <p>En VCL remates creemos en el poder de la subastas como una forma de emocionante y accesible de comercio. Nuestro
     objetivo es convertirnos en el lugar de referencia para compradores y vendedores que buscan productos únicos
        experiencias emocionantes y grandes oportunidades.
          </P>
        
       <p>¡Únete a nuestra comunidad hoy y se parte de la evolución del comercio en línea!
       </p>


  </div>
