@{
    ViewData["Title"] = "Preguntas frecuentes";
}
<div class="form-container">
    <h4 style="color:#000099">¿Cómo funciona la subasta?</h4>

    <p>
        Las subastas permiten a los usuarios pujar por productos listados en la plataforma. Cada subasta tiene un tiempo límite, y los usuarios pueden realizar ofertas hasta que termine el plazo. Al finalizar, el usuario con la puja más alta se convierte en el ganador y adquiere el producto.
    </p>
    <h4 style="color:#000099">¿Qué tipos de productos se subastan?</h4>

    <p>
        <ul>
            <li>Electrónica (teléfonos, laptops, cámaras).</li>
            <li>Moda (ropa, accesorios, joyas).</li>
            <li>Arte (pinturas, esculturas, antigüedades).</li>
            <li>Hogar (muebles, electrodomésticos).</li>
            <li>Otros: ¡Revisá nuestra página de categorías para ver más opciones!</li>
        </ul>
    </p>
    <h4 style="color:#000099"> ¿Cómo puedo registrarme para participar?</h4>

    <p>
        <ul>
            <li>Hacé clic en el "Registrarse" en la barra lateral izquierda de la página.</li>
            <li>Completá el formulario con tu nombre, correo electrónico, contraseña y otros datos requeridos.</li>
            <li>¡Listo! Ahora podés iniciar sesión y participar en las subastas.</li>

        </ul>
    </p>
    <h4 style="color:#000099">  ¿Es gratuito participar en las subastas?</h4>

    <p>Registrarse y participar en las subastas es completamente gratuito.</p>
    <h4 style="color:#000099"> ¿Puedo cancelar mi puja?</h4>

    <p>Una vez realizada, las pujas no pueden cancelarse, ya que comprometen al usuario con la compra en caso de ganar. Si hubo un error, contactá al soporte al cliente para analizar tu caso. </p>

    <h4 style="color:#000099">
        ¿Cómo puedo hacer una oferta?
    </h4>

    <p>
        <ul>
            <li>Ingresa a la subasta donde esta el producto de tu interes</li>
            <li>Accedé a " Ver mas", donde te aparecen todos los productos incluidos en dicho remate.</li>
            <li>Hacé clic en el boton "Realizar Oferta" (Debes estar registrado y logeado en la aplicación)</li>
            <li>Introducí el monto que deseas ofertar (debe ser mayor al momnto base).</li>
            <li>Hacé clic en "Enviar Oferta". ¡Tu oferta quedará registrada automáticamente!</li>
            <li>Se puedo ofertar solo una unica vez por cada producto.</li>
        </ul>
    </p>
    <h4 style="color:#000099">
        ¿Hay restricciones en las pujas?
    </h4>

    <p>
        <ul>
            <li>Edad: Debés ser mayor de 18 años para participar.</li>
            <li>Ubicación: Algunos productos pueden limitarse a envíos nacionales.</li>
            <li>
                Otros: Ciertos artículos pueden requerir permisos especiales o no estar disponibles en todas las regiones.
            </li>
        </ul>




    </p>
    <h4 style="color:#000099">
        ¿Donde puedo ver las ofertas ganadoras?
    </h4>

    <p>
        Una vez finalizado el remate, en la sección 'Ver más' de cada producto, podrás ver al usuario que resultó ganador de la subasta haciendo clic en el botón 'Oferta ganadora'.
    </p>
    <p> "También puedes encontrar una lista de todas las ofertas ganadoras en la barra de navegación lateral."</p>
    <h4 style="color:#000099">
        ¿Se pueden ver todas las ofertas realizadas?
    </h4>

    <p>
        En la sección 'Ver más' de cada producto, en el boton 'Ofertas realizadas', podran visualizar todas las ofertas realizadas.
    </p>

</div>@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
